extends layout
block head
        link(rel='stylesheet', href='/stylesheets/style.css')
        link(rel='stylesheet', href='/stylesheets/categoryDetail.css')
block content 
    h1= title
    hr

    if item_list.length
        ul(class='divisions_OOS')
                p(class='mainCol') Category
                p(class='mainCol') Item
                p(class='mainCol') Description
                p(class='mainCol') Price
                p(class='mainCol') Stock
                each item in item_list
                        p(class='categoryName_OOS') #{item.category.name}
                        a(href=item.url class='itemName_OOS') #{item.name}
                        p(class='itemDesc_OOS') #{item.description}
                        p(class='itemPrice_OOS') $#{item.price}
                        p(class='itemStock_OOS') #{item.stock}
    else
        p This category has no #[strong items].